node_modules/
ios/App/Pods/
ios/App/build/
ios/App/App/public/
android/build/
android/.gradle/
android/app/build/
android/app/src/main/assets/public/
.DS_Store
resources/*.png
www/manifest.json
icons/
